  main    /*Grid*/ 
  {
    font-family: Helvetica, sans-serif;
    display: grid;
    grid-template-areas: /*Hur griden kommer att se ut*/ 
      'left content right';

      grid-template-columns: 33vw 33vw 33vw; /*Storleken på griden*/ 
      grid-template-rows:    25vw; /*Hur radena läggs ut*/ 
  }


  article        
  {
    grid-area: content;
    background-color: rgb(201, 34, 22);
    margin-top: 5vw;
    margin-bottom: 15vw;
    border-radius: 10px;
    height: 100%;
  }

    /*Grid end*/ 

  .Text /*klass som gör att texten centreras */
  {
    text-align: center;

  }
  

  table, td, th{ /*Hur tabellen kommer att se ut */
    border: 1px solid black;
    border-collapse: collapse;
    width:500px
  }

  tr:nth-child(1){ /* Hur en unik cell kommer att se ut */
    background-color: Grey;
  }

tr:nth-child(2){ 
    background-color: Orange;
  }

tr:nth-child(3){ 
    background: Red;
  }    

tr:nth-child(4){ 
    background-color: Orange;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul > li { /*barn selektor*/
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li > a { /*barnselektor*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active { /*Ändrar färgen när man klickar*/
    background-color: #4CAF50;
  }

  iframe{ /* ändrar iframens storlek */
    width: 50%;
    height: 45%;
  }

  video{ /* ändrar videon storlek*/
    width: 50%; 
    height: 45%;
  }

  #nav{ /* id selektor*/
    font-family: Helvetica;
  }

  /*Love Focus Hate*/

    a:link 
    {
        color: rgb(0, 0, 0);
    }

    a:visited 
    {
        color: rgb(58, 51, 112);
    }

    a:hover 
    {
        color: rgb(107, 165, 52);
    }

    a:active 
    {
        color: rgb(110, 27, 27);
    }
